/* custom.css */

/* Target the sidebar container */
.bk-sidebar {
    background-image: url('../dashboard/static/bg-1.jpg');
    background-size: cover;
    background-position: center;
}

/* Target the header container */
.bk-header {
    background-image: url('../dashboard/static/bg-1.jpg');
    background-size: cover;
    background-position: center;
}
